#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// dt-formatter: indent = "  "
// dt-formatter: multilineIntegerCellsIndent = "reindent"
// dt-formatter: multilineListCommaStyle = "leading"

&sk { /delete-property/ ignore-modifiers; };

/ {
  combos {
    compatible = "zmk,combos";

    caps_word {
      key-positions = <17 18>;
      bindings = <&caps_word>;
      layers = <0>;
    };

    delete {
      key-positions = <32 33>;
      bindings = <&kp DEL>;
    };
  };

  macros {
    Copy: Copy {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LC(C)>;
      label = "COPY";
    };

    Paste: Paste {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LC(V)>;
      label = "PASTE";
    };

    TabLeft: TabLeft {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LC(LS(TAB))>;
      label = "TABLEFT";
    };

    TabRight: TabRight {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LC(TAB)>;
      label = "TABRIGHT";
    };

    WinLeft: WinLeft {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LA(LS(TAB))>;
      label = "WINLEFT";
    };

    WinRight: WinRight {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LA(TAB)>;
      label = "WINRIGHT";
    };

    TabClose: TabClose {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LC(W)>;
      label = "TABCLOSE";
    };

    WinClose: WinClose {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp LA(F4)>;
      label = "WINCLOSE";
    };
  };

  behaviors {
    as_ht: autoshift_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      label = "AUTOSHIFT_HOLD_TAP";
      bindings = <&shift>, <&kp>;

      tapping-term-ms = <190>;
    };

    hml: homewrow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      label = "HOMEROW_MODS_LEFT_HAND";
      bindings = <&kp>, <&kp>;

      tapping-term-ms = <200>;
      hold-trigger-key-positions = <0 1 2 3 4 5 17 29 37 38 12 13 14 15 16 24 25 26 27 28 36 6 7 8 9 10 11 23 35 33 34 22 21 20 18 19 31 32 30 41 40 39>;
    };

    hmr: homewrow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      label = "HOMEROW_MODS_RIGHT_HAND";
      bindings = <&kp>, <&kp>;

      tapping-term-ms = <200>;
      hold-trigger-key-positions = <6 20 8 7 9 10 11 23 22 21 19 18 30 31 32 33 34 35 41 40 39 0 1 2 3 4 5 17 29 38 37 36 28 16 15 27 26 14 13 25 24 12>;
    };

    PasteCopyPrSc: PasteCopyPrSc {
      compatible = "zmk,behavior-tap-dance";
      label = "PASTECOPYPRSC";
      #binding-cells = <0>;
      bindings = <&Paste>, <&Copy>, <&kp PRINTSCREEN>;
    };
  };

  conditional_layers { compatible = "zmk,conditional-layers"; };

  keymap {
    compatible = "zmk,keymap";

    BASE {
      bindings = <
        &PasteCopyPrSc  &kp Q         &kp W            &kp E        &kp R              &kp T        &kp Y            &kp U                   &kp I        &kp O        &kp P            &kp BSLH
        &kp GRAVE       &hml LCTRL A  &hml LEFT_WIN S  &hml LALT D  &hml LEFT_SHIFT F  &kp G        &kp H            &hmr RSHFT J            &hmr RALT K  &hmr RWIN L  &hmr RCTRL SEMI  &kp APOS
        &kp MINUS       &kp Z         &kp X            &kp C        &kp V              &kp B        &kp N            &kp M                   &kp COMMA    &kp DOT      &kp FSLH         &kp EQUAL
                                                       &lt 3 ESC    &lt 4 TAB          &lt 1 DEL    &lt 1 BACKSPACE  &hml RIGHT_SHIFT SPACE  &lt 2 ENTER
      >;

      label = "BASE";
    };

    NAVIGATION {
      bindings = <
        &to 0              &Copy      &Paste    &TabLeft      &TabRight  &TabClose          &Copy            &none              &none        &none      &Paste     &none
        &kp C_VOLUME_UP    &kp LCTRL  &kp LGUI  &kp LALT      &kp LSHFT  &kp PRINTSCREEN    &kp LEFT         &kp DOWN           &kp UP       &kp RIGHT  &kp RCTRL  &none
        &kp C_VOLUME_DOWN  &none      &none     &WinLeft      &WinRight  &WinClose          &kp HOME         &kp PG_DN          &kp PG_UP    &kp END    &none      &none
                                                &lt 3 ESCAPE  &lt 4 TAB  &lt 1 DEL          &lt 1 BACKSPACE  &hmr RSHIFT SPACE  &lt 2 ENTER
      >;

      label = "NAV";
    };

    NUMBERS {
      bindings = <
        &to 0   &kp N1            &kp N2        &kp N3        &kp N4          &kp N5       &kp NUMBER_6     &kp N7                     &kp N8             &kp N9                   &kp N0            &kp PERCENT
        &none   &kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &none        &kp PLUS         &hmr RIGHT_SHIFT NUMBER_4  &hmr RIGHT_ALT N5  &hmr RIGHT_WIN NUMBER_6  &hmr RCTRL COMMA  &kp ASTERISK
        &trans  &trans            &trans        &trans        &trans          &trans       &kp MINUS        &kp NUMBER_1               &kp NUMBER_2       &kp NUMBER_3             &kp PERIOD        &kp SLASH
                                                &lt 3 ESC     &lt 4 TAB       &lt 1 DEL    &lt 1 BACKSPACE  &hmr RIGHT_SHIFT SPACE     &lt 2 ENTER
      >;

      label = "NUM";
    };

    FUNCTIONS {
      bindings = <
        &to 0  &kp F1         &kp F2            &kp F3            &kp F4          &kp PRINTSCREEN    &none            &to 1              &to 2         &to 3         &to 4         &none
        &none  &hml LCTRL F5  &hml LEFT_WIN F6  &hml LEFT_ALT F7  &hml LSHIFT F8  &kp INSERT         &none            &kp RSHFT          &kp RALT      &kp RGUI      &kp RCTRL     &out OUT_TOG
        &none  &kp F9         &kp F10           &kp F11           &kp F12         &kp PAUSE_BREAK    &bt BT_CLR       &bt BT_SEL 0       &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                                                &lt 3 ESCAPE      &lt 4 TAB       &lt 1 DELETE       &lt 1 BACKSPACE  &hmr RSHIFT SPACE  &lt 2 ENTER
      >;

      label = "FUN";
    };

    SYMBOLS {
      bindings = <
        &to 0  &none                   &none                  &none               &none                   &none          &none            &kp LEFT_BRACE              &kp RIGHT_BRACE          &none                            &none                         &none
        &none  &hml LCTRL EXCLAMATION  &hml LEFT_WIN AT_SIGN  &hml LEFT_ALT HASH  &hml LEFT_SHIFT DOLLAR  &kp PERCENT    &kp CARET        &hmr RIGHT_SHIFT AMPERSAND  &hmr RIGHT_ALT ASTERISK  &hmr RIGHT_WIN LEFT_PARENTHESIS  &hmr RCTRL RIGHT_PARENTHESIS  &none
        &none  &none                   &none                  &none               &none                   &none          &none            &kp LEFT_BRACKET            &kp RIGHT_BRACKET        &none                            &none                         &none
                                                              &lt 3 ESCAPE        &lt 4 TAB               &lt 1 DEL      &lt 1 BACKSPACE  &hmr RIGHT_SHIFT SPACE      &lt 2 ENTER
      >;

      label = "SYM";
    };
  };
};
